.do {
  padding-top: 47px;
  padding-bottom: 94px;
}
.do__list {
  display: flex;
  flex-basis: calc(100% / 3 - 90px);
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.do__item {
  margin-left: 30px;
  margin-top: 30px;
}
.do__title {
  margin-bottom: 50px;
}

.do__thumb {
  position: relative;
  display: flex;
  justify-content: center;
}
.do__description {
  position: absolute;
  bottom: 0;
  left: 0;

  // display: flex;
  // justify-content: center;
  // align-items: center;
  @include flex(flex, center, center, null, null);
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.143;
  // letter-spacing: 0.03em;
  // color: var(--primery-title-color);
  @include font(null, 700, 14px, 1.143, 0.03em, var(--primery-title-color));

  text-transform: uppercase;
}
