.team {
  background: var(--background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team__title {
  margin-bottom: 50px;
}
.team__item {
  background: #ffffff;
  flex-basis: calc(100% / 4 -30px);
  margin: 15px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team__title_small {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}
.social__item {
  width: 44px;
  height: 44px;
  & + & {
    margin-left: 10px;
  }
}
.social__list {
  display: flex;
  justify-content: center;
}
.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .social__link:hover &,
  .social__link:focus & {
    fill: var(--primery-title-color);
  }
}
