:root {
  --primery-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primery-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #f5f4fa;
  --logo-color-black: #000000;
  --hero-background-color: #2f303a;
  --cliets-color: #afb1b8;
  --footer-contacts-link-color: rgba(255, 255, 255, 0.6);

  --text-style-btn: Roboto, sans-serif;
  --text-style-rel: Raleway, sans-serif;
}
